<% content_for(:page_title, "Reenviar confirmación de cuenta") %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "input-label" %>
    <%= f.email_field :email, 
      autofocus: true, 
      autocomplete: "email", 
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
      class: "input"
    %>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar las instrucciones", class: "btn-primary w-full" %>
  </div>
<% end %>

<div class="text-center">
  <p class="text-grey-500 text-sm">
    ¿Tienes la contraseña?
    <%= link_to "Entrar", new_user_session_path %>.
  </p>
</div>