    <div x-show="tab === 'account'" class="grow"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100"
      >

        <!-- Panel body -->
        <div class="p-6 space-y-6">
            <h2 class="text-2xl text-slate-800 font-bold mb-5"><%= t("mi_cuenta")%></h2>

            <!-- Picture -->
            <section>
                <div class="flex items-center">
                    <div class="mr-4">
                      <%= gravatar_for current_user %>
                    </div>
                    <button class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white"><%= t("cambiar")%></button>
                </div>
            </section>

            <!-- Form -->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="form-group">
                <%= render "devise/shared/error_messages", resource: resource %>

                <!-- Email -->
                <section>
                    <h3 class="text-xl leading-snug text-slate-800 font-bold mb-1"><%= t("email")%></h3>
                    <div class="text-sm"><%= t("texto_cambio_correo")%></div>
                    <div class="flex flex-wrap mt-5">
                        <div class="mr-2">
                          <%= f.label :email, class: "sr-only" %>
                          <%= f.email_field :email, class: "form-input w-64", autocomplete: "email" %>
                        </div>
                        <%= f.submit t("cambiar"), class: "btn border-slate-200 hover:border-slate-300 shadow-sm text-indigo-500" %>
                    </div>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div class="mt-4 font-semibold text-sm text-red-500"><%= t("email_waiting_confirmation")%>: <%= resource.unconfirmed_email %></div>
                    <% end %>
                </section>

                <!-- Password -->
                <section class="mt-10">
                    <h3 class="text-xl leading-snug text-slate-800 font-bold mb-1"><%= t("contrase単a")%></h3>
                    <div class="text-sm"><%= t("texto_cambio_contrase単a") %></div>
                    <div class="sm:flex sm:items-center space-y-4 sm:space-y-0 sm:space-x-4 mt-5">
                        <div class="sm:w-1/3">
                            <%= f.label :password, class: "input-label" %>
                            <%= f.password_field :password, class: "form-input w-full", autocomplete: "new-password" %>
                            <% if @minimum_password_length %>
                              <em class="text-xs"><%= t("minimo") %> <%= @minimum_password_length %> <%= t("caracteres") %></em>
                            <% end %>
                        </div>
                        <div class="sm:w-1/3">
                            <%= f.label :password_confirmation, class: "input-label" %>
                            <%= f.password_field :password_confirmation, class: "form-input w-full", autocomplete: "new-password" %>
                            <i class="text-xs"><%= t("texto_repite_contrase単a") %></i>
                        </div>
                        <div class="sm:w-1/3">
                          <%= f.label :current_password, class: "input-label" %>
                          <%= f.password_field :current_password, class: "form-input w-full", autocomplete: "current-password" %>
                          <i class="text-xs"><%= t("text_confirmar_contrase単a") %></i>
                        </div>
                    </div>
                </section>
                <%= f.fields_for :user_profile, resource.user_profile do |upf| %>
                  <%= upf.hidden_field :gov_id, name: "user_profile[gov_id]", id: "user_profile_gov_id" %>
                <% end %>
              </div>
              <div class="flex flex-col px-6 py-5 border-t border-slate-200 mt-10">
                  <div class="flex self-end">
                    <%= f.submit t("guardar_cambios"), class: "btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" %>
                  </div>
              </div>
            <% end %>
            <div class="mt-10">
              <p class="text-sm text-red-500 ml-1"><i><%= t("zona_peligro")%></i></p>
              <%= button_to t("borrar_cuenta"), registration_path(resource_name),
              form: { data: { turbo_confirm: t("estas_seguro") } }, method: :delete,
              class: "btn-danger text-xs" %>
            </div>
        </div>
    </div>