<%= form_with(model: invoice, class: "contents") do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label "Client", class: "input-label"  %>
    <%= form.collection_select :client_id, Client.all, :id, :full_name, {prompt: "Selecciona un cliente"}, {class: "input"} %>
  </div>

  <div class="my-5">
    <%= form.label :invoice_number, class: "input-label"  %>
    <%= form.text_field :invoice_number, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :date, class: "input-label"  %>
    <%= form.datetime_field :date, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :due_date, class: "input-label"  %>
    <%= form.datetime_field :due_date, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :subtotal, class: "input-label"  %>
    <%= form.text_field :subtotal, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :iva, class: "input-label"  %>
    <%= form.text_field :iva, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :irpf, class: "input-label"  %>
    <%= form.text_field :irpf, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :total, class: "input-label"  %>
    <%= form.text_field :total, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :notes, class: "input-label"  %>
    <%= form.text_area :notes, rows: 4, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :status, class: "input-label"  %>
    <%= form.check_box :status, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
