<%= form_with(model: invoice, class: "contents", html: { data: {controller: "recalculate"} } ) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-3 gap-2" data-controller="clientselect" data-clientselect-url-value="<%= clients_path %>" data-clientselect-param-value="client">
    <div class="my-5 col-span-2">
      <%= f.label "Client", class: "input-label"  %>
      <%= f.collection_select :client_id, current_user.clients, :id, :full_name, {prompt: "Selecciona un cliente"}, {data: {action: "change->clientselect#change"}, class: "input"} %>
    </div>

    <div class="my-5">
      <%= f.label :invoice_number, class: "input-label"  %>
      <% if invoice.new_record? %>
        <%= f.text_field :invoice_number, class: "input", value: invoice.set_invoice_number %>
      <% else %>
        <%= f.text_field :invoice_number, class: "input", value: invoice.invoice_number %>
      <% end %>
    </div>

    <div id="client_details" class="col-span-2" data-clientselect-target="select"></div>

    <div class="">
      <%= f.label :date, class: "input-label"  %>
      <%= f.date_field :date, class: "input", value: Date.today %>
    </div>

    <div class="col-span-2">
      
    </div>

    <div class="">
      <%= f.label :due_date, class: "input-label"  %>
      <%= f.date_field :due_date, class: "input", value: Date.today + 30.days %>
    </div>
  </div>

  <hr/>

  <h2 class="text-center text-lg my-5 underline">Ítems a Facturar</h2>

  <div id="line_items" data-controller="removeitem">
    <% f.object.line_items.each do |i| %>
      <%= render "item_fields", f: f, line_item: i, turboid: Process.clock_gettime(Process::CLOCK_REALTIME, :millisecond) %>
    <% end %>
  </div>

  <%= link_to "Agregar Línea Ítem",
    add_item_invoices_path(id: f.object),
    class: "text-indigo-600 hover:underline",
    data: { turbo_method: :post } %>

  <hr class="mt-5"/>

  <div class="flex space-x-2">
    <div class="w-3/4 my-5">

      <%= f.label :notes, class: "input-label"  %>
      <%= f.text_area :notes, rows: 11, class: "input" %>
    
    </div>

    <div class="w-1/4 my-5">

      <%= f.label :subtotal, class: "input-label text-right"  %>
      <div class="p-2 text-right text-lg border input h-10" data-recalculate-target="subtotal">
        <%= number_to_currency invoice.subtotal %>
      </div>
      <%= f.label :iva, class: "input-label text-right my-1" %>
      <div class="p-2 text-right border input h-10" data-recalculate-target="taxtotal">
        <%= number_to_currency invoice.iva %>
      </div>

      <%= f.label :irpf, class: "input-label text-right my-1" %>
      <div class="p-2 text-right border input h-10"><%= number_to_currency invoice.irpf %></div>

      <%= f.label :total, class: "input-label text-right my-2" %>
      <div class="p-2 text-right text-xl font-bold border input h-10" data-recalculate-target="grandtotal">
        <%= number_to_currency invoice.total %>
      </div>

    </div>
  </div>

  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
