<div id="<%= Process.clock_gettime(Process::CLOCK_REALTIME, :millisecond) %>" data-recalculate-target="theid">
  <div class="flex gap-2">
    <%= f.fields_for :line_items, line_item, 
      child_index: Process.clock_gettime(Process::CLOCK_REALTIME, :millisecond) do |ff| %>
      <div class="w-2/3">
        <%= ff.label "Ítem", class: "input-label"  %>
        <%= ff.collection_select :item_id, current_user.items, :id, :item_name,
          {prompt: "Selecciona un item"}, { multiple: false, class: "input"} %>
      </div>
      <div class="w-1/6">
        <%= ff.label "Cantidad", class: "input-label"  %>
        <%= ff.number_field :quantity, min: 0, max: 10000000, class: "input", 
          data: {action: "change->recalculate#recalculate"} %>
      </div>
      <div class="w-1/6">
        <%= ff.label "Importe", class: "input-label"  %>
        <div class="p-2 text-left border input h-10" data-recalculate-target="price">
          <%= number_to_currency line_item.item&.price %>
        </div>
      </div>
      <div class="w-1/12">
        <%= ff.label "IVA", class: "input-label uppercase text-center"  %>
        <div class="p-2 text-left border input h-10 w-12" data-recalculate-target="tax">
          <%= line_item.item&.iva %>
        </div>
      </div>
      <div class="w-1/3">
        <%= ff.label "Total Ítem", class: "input-label text-right"  %>
        <div class="p-2 text-right border input h-10" data-recalculate-target="total" >
          <%= number_to_currency line_item.total_price %>
        </div>
      </div>
      <%= button_to "X",
              line_items_path(id: f.object),
              method: :delete,
              data: { turbo_frame: Process.clock_gettime(Process::CLOCK_REALTIME, :millisecond) },
              class: "text-red-600 hover:underline mt-5 cursor-pointer" %>
    <% end %>
  </div>
</div>