<div id="<%= turboid %>" 
  data-recalculate-target="theid" data-removeitem-target="item"
>
  <div class="flex gap-2" data-controller="itemselect" data-itemselect-url-value="<%= items_path %>" data-itemselect-param-value="item">
    <%= f.fields_for :line_items, line_item, child_index: turboid do |ff| %>
      <%= ff.hidden_field :_destroy, "data-removeitem-target" => "theHidden" %>
      <div class="w-2/3">
        <%= ff.label "Ãtem", class: "input-label"  %>
        <%= ff.collection_select :item_id, current_user.items, :id, :item_name,
          {prompt: "Selecciona un item"}, { multiple: false, data: {action: "change->itemselect#change"}, class: "input"} %>
      </div>
      <div class="w-1/6">
        <%= ff.label t("cantidad"), class: "input-label"  %>
        <%= ff.number_field :quantity, min: 0, max: 10000000, class: "input", 
          data: {action: "change->recalculate#recalculate", removeitem_target: "qty"} %>
      </div>
      <div class="w-1/3">
        <%= ff.label t("importe"), class: "input-label"  %>
        <div id="invoice_line_items_attributes_<%= turboid %>_price" class="p-2 text-left border input h-10" data-recalculate-target="price" data-itemselect-target="select">
          <%= number_to_currency line_item.item&.price %>
        </div>
      </div>
      <div class="w-1/12">
        <%= ff.label t("iva"), class: "input-label uppercase text-center"  %>
        <div id="invoice_line_items_attributes_<%= turboid %>_tax" class="p-2 text-left border input h-10 w-12" data-recalculate-target="tax">
          <%= number_with_precision(line_item.item&.iva, precision: 0) %>
        </div>
      </div>
      <div class="w-1/3">
        <%= ff.label t("total_item"), class: "input-label text-right"  %>
        <div id="invoice_line_items_attributes_<%= turboid %>_total" class="p-2 text-right border input h-10" data-recalculate-target="total" >
          <%= number_to_currency line_item.total_price %>
        </div>
      </div>
      <a class="text-red-600 hover:underline mt-5 cursor-pointer" data-action="click->removeitem#click">
        <%= heroicon "x-mark" %>
      </a>
    <% end %>
  </div>
</div>