<div id="<%= turboid %>" 
  data-controller="removeitem" data-recalculate-target="theid" data-removeitem-target="item"
>
  <div class="flex gap-2" data-controller="itemselect" data-itemselect-url-value="<%= items_path %>" data-itemselect-param-value="item">
    <%= f.fields_for :line_items, line_item, child_index: turboid do |ff| %>
      <%= ff.hidden_field :_destroy, "data-removeitem-target" => "theHidden" %>
      <div class="w-2/3">
        <%= ff.label "Ãtem", class: "input-label"  %>
        <div class="relative mt-1 rounded-md shadow-sm">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <%= heroicon "cursor-arrow-rays", options: {class: "w-6 h-6 fill-current text-slate-400 shrink-0" } %>
          </div>
          <%= ff.collection_select :item_id, current_user.items, :id, :item_name,
          {prompt: "Selecciona un item"}, { multiple: false, data: {action: "change->itemselect#change"}, class: "form-input w-full pl-10"} %>
        </div>
      </div>
      <div class="w-1/6">
        <%= ff.label t("cantidad"), class: "input-label"  %>
        <%= ff.number_field :quantity, min: 0, max: 10000000, step: 1, class: "form-input w-full", 
          data: {action: "change->recalculate#recalculate", removeitem_target: "qty", recalculate_target: "qty"} %>
      </div>
      <div class="w-1/3">
        <div class="flex gap-1">
          <%= ff.label t("importe"), class: "input-label"  %>
          (<%= I18n.t('number.currency.format.unit') %>)
        </div>
        <%= ff.text_field :price, readonly: true, class: "form-input w-full", value: line_item.price, data: { recalculate_target: "price", itemselect_target: "select" } %>
      </div>
      <div class="w-1/12">
        <%= ff.label t("iva"), class: "input-label uppercase text-center" %>
        <%= ff.text_field :iva, readonly: true, class: "form-input w-full", value: number_with_precision(line_item.iva, precision: 0), data: { recalculate_target: "iva" } %>
      </div>
      <div class="w-1/3">
        <%= ff.label t("total_item"), class: "input-label text-right"  %>
        <%= ff.text_field :total, readonly: true, class: "form-input w-full text-right", value: (number_to_currency line_item.total), data: { recalculate_target: "total" } %>
      </div>
      <a class="text-red-600 hover:underline mt-3 cursor-pointer remove-link"
        data-action="click->removeitem#click recalculate#recalculate">
        <%= heroicon "x-mark", options: { id: "x-mark" }%>
    <% end %>
      </a>
  </div>
</div>