<div class="table w-full mt-5">
  <div class="table-row-group">
    <div class="table-row">
      <div class="table-cell input-label text-left"><%= t("subtotal") %></div>
      <div class="table-cell text-right text-lg py-1">

      </div>
      <%= f.hidden_field :subtotal, value: invoice.subtotal, data: { recalculate_target: "hidden-subtotal"} %>
    </div>
    <div class="table-row">
      <div class="table-cell input-label text-left"><%= t("iva") %></div>
      <div class="table-cellp-2 text-right py-1">

      </div>
      <%= f.hidden_field :iva, value: invoice.iva, data: { recalculate_target: "hidden-taxtotal"} %>
    </div>
    <div class="table-row hidden">
      <div class="table-cell input-label text-left"><%= t("irpf") %></div>
      <div class="table-cell text-right py-1">

      </div>
      <%= f.hidden_field :irpf, value: invoice.irpf, data: { recalculate_target: "hidden-irpf"}  %>
    </div>
    <div class="table-row">
      <div class="table-cell input-label text-left text-xl font-bold"><%= t("total") %></div>
      <div class="table-cell text-right text-xl font-bold py-5">

      </div>
      <%= f.hidden_field :total, value: invoice.total, data: { recalculate_target: "hidden-grandtotal"}  %>
    </div>
  </div>
</div>
