<div class="table w-full mt-5">
  <div class="table-row-group">
    <div class="table-row">
      <div class="table-cell input-label text-left"><%= t("subtotal") %></div>
      <div class="table-cell text-right text-lg py-1" data-recalculate-target="subtotal">
        <%= number_to_currency invoice.subtotal %>
      </div>
      <%= f.hidden_field :subtotal, value: invoice.subtotal, data: { recalculate_target: "hiddensubtotal"} %>
    </div>
    <div class="table-row">
      <div class="table-cell input-label text-left"><%= t("iva") %></div>
      <div class="table-cellp-2 text-right py-1" data-recalculate-target="taxtotal">
        <%= number_to_currency invoice.iva %>
      </div>
      <%= f.hidden_field :iva, value: invoice.iva, data: { recalculate_target: "hiddentaxtotal"} %>
    </div>
    <div class="hidden">
      <div class="table-cell input-label text-left"><%= t("irpf") %></div>
      <div class="table-cell text-right py-1" data-recalculate-target="irpf">
        <%= number_to_currency invoice.irpf %>
      </div>
      <%= f.hidden_field :irpf, value: invoice.irpf, data: { recalculate_target: "hiddenirpf"}  %>
    </div>
    <div class="table-row">
      <div class="table-cell input-label text-left text-xl font-bold"><%= t("total") %></div>
      <div class="table-cell text-right text-xl font-bold py-5" data-recalculate-target="grandtotal">
        <%= number_to_currency invoice.total %>
      </div>
      <%= f.hidden_field :total, value: invoice.total, data: { recalculate_target: "hiddengrandtotal"}  %>
    </div>
  </div>
</div>
