<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @invoice %>">
      <p class="my-5">
        <strong class="block font-medium mb-1"><%= t("cliente") %>:</strong>
        <%= @client %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1"><%= t("numero_factura") %>:</strong>
        <%= @invoice.display_number || @invoice.invoice_number %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1"><%= t("fecha") %>:</strong>
        <%= l(@invoice.date, format: :corta) %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1"><%= t("fecha_vencimiento") %>:</strong>
        <%= l(@invoice.due_date, format: :corta) %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1"><%= t("estatus") %>:</strong>
        <%= t @invoice.status.titleize %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1"><%= t("notas") %>:</strong>
        <%= @invoice.notes %>
      </p>
    </div>

    <%= link_to t("editar"), edit_invoice_path(@invoice), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to t("eliminar"), invoice_path(@invoice), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to t("volver"), invoices_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
