<div class="mx-auto w-full">
  <%= link_to sanitize(t("back_to_scopes")), invoice_series_index_path, class: "back-button" %>
  <h1 class="title"><%= t("new_scope") %></h1>

  <div class="my-8 px-8 py-4 bg-white shadow-lg rounded-sm border border-slate-200">
    <%= form_with(model: @series, url: invoice_series_index_path, class: "contents") do |f| %>

      <% if @series.errors.any? %>
        <div class="mb-4 p-4 bg-rose-50 border border-rose-200 rounded">
          <ul class="list-disc list-inside text-rose-700 text-sm">
            <% @series.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5">
        <%= f.label t("scope_prefix"), class: "input-label" %>
        <div class="relative mt-1 rounded-md shadow-sm">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <%= heroicon "hashtag", options: {class: "w-4 h-4 fill-current text-slate-400 shrink-0" } %>
          </div>
          <%= f.text_field :prefix, class: "form-input w-full pl-10", placeholder: "A", required: true, pattern: "[A-Za-z0-9]+" %>
        </div>
        <p class="text-xs text-slate-500 mt-1"><%= t("scope_prefix_help") %></p>
      </div>

      <div class="my-5">
        <%= f.label t("scope_name"), class: "input-label" %>
        <%= f.text_field :name, class: "form-input w-full", placeholder: t("scope_name_placeholder") %>
        <p class="text-xs text-slate-500 mt-1"><%= t("scope_name_help") %></p>
      </div>

      <hr class="mb-5"/>

      <div class="inline">
        <%= f.submit t("create_scope"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
