<% content_for(:page_title, "Cambiar tu contraseña") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, "Nueva contraseña", class: "input-label" %>
      <% if @minimum_password_length 
        @placeholder = "mínimo de #{@minimum_password_length} caracteres"
      %>
      <% end %>
      <%= f.password_field :password, 
        autofocus: true, 
        autocomplete: "new-password", 
        class: "form-input w-full", 
        placeholder: @placeholder  
      %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, "Confirmar nueva contraseña", class: "input-label" %>
      <%= f.password_field :password_confirmation, 
        autocomplete: "new-password", 
        class: "form-input w-full",
        placeholder: "tienen que coincidir"
      %>
    </div>

    <div class="actions">
      <%= f.submit "Cambiar mi contraseña", class: "btn-primary" %>
    </div>
  </div>
<% end %>

<div class="text-center">
  <p class="text-grey-500 text-sm">
    ¿Tienes la contraseña?
    <%= link_to "Entrar", new_user_session_path, class: "font-medium text-indigo-500 hover:text-indigo-600" %>.
  </p>
</div>
