<% content_for(:page_title, "¿Olvidaste tu contraseña?") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>

    <p class="font-light text-sm text-center text-gray-600 mb-4">
      Por favor, ingrese su <u>dirección de correo electrónico,</u> y le enviaremos instrucciones para restablecer su contraseña.
    </p>

    <div class="mb-4">
      <%= f.label :email, class: "input-label" %>
      <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar instrucciones", class: "cta-btn w-full" %>
    </div>
  </div>
<% end %>

<div class="text-center">
  <p class="text-grey-500 text-sm">
    ¿Tienes la contraseña?
    <%= link_to "Entrar", new_user_session_path %>.
  </p>
</div>