<!-- Row -->
<tr>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap w-px">
        <div class="flex items-center">
            <label class="inline-flex">
                <span class="sr-only">Select</span>
                <input class="table-item form-checkbox" type="checkbox" @click="uncheckParent" />
            </label>
        </div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="flex items-center">
          <div class="font-medium text-slate-800"><%= client.full_name %></div>
        </div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="text-left"><%= client.email %></div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="text-left"><%= client.city %>, <%= client.country %></div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="text-center"><%= client.invoices.count %></div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="text-center font-medium text-sky-500">
            <% if client.invoices.count > 0 %>
                <%= link_to invoice_path(client.invoices.last, format: :pdf) do %>
                   #<%=client.invoices.last.invoice_number %>
                <% end %>
            <%end%>
        </div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="text-left font-medium text-emerald-500"><%= client.invoices.sum(:total) %></div>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap w-px">
        <div class="space-x-1 inline-flex">
            <%= link_to edit_client_path(client), class: "text-slate-400 hover:text-slate-500" do %>
                <span class="sr-only"><%= t("editar") %></span>
                <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                    <path d="M19.7 8.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM12.6 22H10v-2.6l6-6 2.6 2.6-6 6zm7.4-7.4L17.4 12l1.6-1.6 2.6 2.6-1.6 1.6z" />
                </svg>
            <% end %>
            <%= button_to client_path(client), method: :delete, form: { data: { turbo_confirm: "¿Estás seguro?" } }, class: "text-rose-500 hover:text-rose-600" do %>
                <span class="sr-only"><%= t("eliminar") %></span>
                <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                    <path d="M13 15h2v6h-2zM17 15h2v6h-2z" />
                    <path d="M20 9c0-.6-.4-1-1-1h-6c-.6 0-1 .4-1 1v2H8v2h1v10c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V13h1v-2h-4V9zm-6 1h4v1h-4v-1zm7 3v9H11v-9h10z" />
                </svg>
            <% end %>
        </div>
    </td>
</tr>

