<%= turbo_stream.replace target="client_details" do %>
    <div class="col-span-2 mb-10">
        <div id="client_details" class="p-2 border form-input" data-clientselect-target="select">
            <label class="input-label underline" for="client_details"><%= t("detalle_cliente") %></label>
            <p>NIF/CIF: <%= @client.nif %></p>
            <p><%= @client.address_line_1 %></p>
            <p><%= @client.address_line_2 %></p>
        </div>
    </div>
<% end %>
