<div class="max-w-md mx-auto">

    <h1 class="text-3xl text-slate-800 font-bold mb-6">Dirección Fiscal ✨</h1>

    <%= form_for(@user_profile, url: wizard_path, method: 'put' ) do |f| %>
        <% if f.object.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
                <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this invoice from being saved:</h2>

                <ul>
                <% f.object.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <div data-controller="select" data-select-url-value="<%= regions_path %>" data-select-param-value="country">
            <div class="my-5">
                <%= upf.label "País", class: "input-label" %>
                <%= upf.collection_select :country, Country.all.sort, :alpha_2_code, :name,
                { prompt: "Selecciona País"}, { data: {action: "change->select#change"}, class: "input"} %>
            </div>
            <div class="my-5">
                <%= upf.label "Provincia", class: "input-label" %>
                <%= upf.select :region, [], {}, { data: { select_target: "select" }, class: "input"} %>
            </div>
        </div>        
        <div class="my-5">
            <label class="input-label" for="city">Ciudad <span class="text-rose-500">*</span></label>
            <%= f.text_field :city, class: "input", required: true %>
        </div>
        <div class="my-5">
            <label class="input-label" for="postal_code">Código Postal <span class="text-rose-500">*</span></label>
            <%= f.text_field :postal_code, class: "input", required: true %>
        </div>
        <div class="my-5">
            <label class="input-label" for="street_address_2">Calle <span class="text-rose-500">*</span></label>
            <%= f.text_field :street_address_1, class: "input", required: true %>
        </div>
        <div class="my-5">
            <label class="input-label" for="street_address_2">Urbanización <span class="text-rose-500">*</span></label>
            <%= f.text_field :street_address_2, class: "input" %>
        </div>
        <div class="flex items-center justify-between">
            <%= render "after_register/links" %>
            <%= f.submit 'Siguiente ->', class: 'btn-primary' %>
        </div>
    <% end %>
</div>