<% content_for(:page_title, "Ingresa tu información fiscal") %>

<%= form_for(@user_profile, url: wizard_path, method: 'put' ) do |f| %>
    <% if f.object.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this invoice from being saved:</h2>

            <ul>
            <% f.object.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
        <div class="my-5">
        <%= f.label "CIF/NIF/NIE", class: "input-label" %>
        <%= f.text_field :gov_id, class: "input", required: true %>
    </div>
    <div class="my-5">
        <%= f.label "Calle", class: "input-label" %>
        <%= f.text_field :street_address_1, class: "input", required: true %>
    </div>
    <div class="my-5">
        <%= f.label "Urbanización", class: "input-label" %>
        <%= f.text_field :street_address_2, class: "input" %>
    </div>
    <div class="my-5">
        <%= f.label "Ciudad", class: "input-label" %>
        <%= f.text_field :city, class: "input", required: true %>
    </div>
    <div class="my-5">
        <%= f.label "Provincia", class: "input-label" %>
        <%= f.text_field :region, class: "input", required: true %>
    </div>
    <div class="my-5">
        <%= f.label "Código Postal", class: "input-label" %>
        <%= f.text_field :postal_code, class: "input", required: true %>
    </div>
    <div class="my-5">
        <%= f.label "País", class: "input-label" %>
        <%= f.text_field :country, class: "input", required: true %>
    </div>
    <%= f.submit 'Siguiente', class: 'btn-primary' %>
<% end %>
<%= render "after_register/links" %>
