<!-- Progress bar -->
<div class="px-4 pt-12 pb-8">
    <div class="max-w-md mx-auto w-full">
        <div class="relative">
            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-slate-200" aria-hidden="true"></div>
            <ul class="relative flex justify-between w-full">
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-100 text-white" href="/after_register/freelance_or_company">1</a>
                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white" href="/after_register/set_name">2</a>
                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-100 text-white" href="/after_register/set_address">3</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="max-w-md mx-auto">
  <% if @user_profile.is_freelance %>
    <h1 class="text-3xl text-slate-800 font-bold mb-6"><%= t("personal_information") %> ✨</h1>
  <% else %>
    <h1 class="text-3xl text-slate-800 font-bold mb-6"><%= t("company_information") %> ✨</h1>
  <% end %>
  <%= form_for(@user_profile, url: wizard_path, method: 'put' ) do |f| %>
    <% if f.object.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this invoice from being saved:</h2>
        <ul>
          <% f.object.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="space-y-4 mb-8">
      <% if @user_profile.is_freelance %>
        <div class="my-5">
          <%= f.label :first_name, class: "input-label" do %>
            <%= t("name") %> <%= required_field_indicator %>
          <% end %>
          <%= f.text_field :first_name, class: "form-input w-full", required: true, autofocus: true %>
        </div>
        <div class="my-5">
          <%= f.label :last_name, class: "input-label" do %>
            <%= t("last_name") %> <%= required_field_indicator %>
          <% end %>
          <%= f.text_field :last_name, class: "form-input w-full", required: true %>
        </div>
        <div class="my-5">
          <%= f.label :gov_id, class: "input-label" do %>
            <%= t("fiscal_identification_number") %> <%= required_field_indicator %>
          <% end %>
          <%= f.text_field :gov_id, class: "form-input w-full", required: true %>
        </div>
      <% else %>
        <div class="my-5">
          <%= f.label :company_name, class: "input-label" do %>
            <%= t("company_name") %> <%= required_field_indicator %>
          <% end %>
          <%= f.text_field :company_name, class: "form-input w-full", required: true, autofocus: true %>
        </div>
        <div class="my-5">
          <%= f.label :gov_id, class: "input-label" do %>
            <%= t("fiscal_identification_number") %> <%= required_field_indicator %>
          <% end %>
            <%= f.text_field :gov_id, class: "input", required: true %>
        </div>
        <div class="my-5">
          <%= f.label "legal_representative_information", class: "input-label" do %>
            <%= t("legal_representative_information") %> <%= required_field_indicator %>
          <% end %>
          <%= f.text_field :first_name, class: "form-input w-full", placeholder: "Nombres", required: true %>
        </div>
        <div class="my-5">
          <%= f.text_field :last_name, class: "form-input w-full", placeholder: "Apellidos", required: true %>
        </div>
      <% end %>
    </div>
    <div class="flex items-center justify-between">
      <%= render "after_register/links" %>
      <%= f.button class: 'btn bg-indigo-600 hover:bg-indigo-700 text-white ml-auto cursor-pointer' do %>
          <%= t("next") %> <%= heroicon "arrow-right", variant: :mini %>
      <% end %>
    </div>

  <% end %>
</div>
