<!-- Progress bar -->
<div class="px-4 pt-12 pb-8">
    <div class="max-w-md mx-auto w-full">
        <div class="relative">
            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-slate-200" aria-hidden="true"></div>
            <ul class="relative flex justify-between w-full">
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-100 text-white" href="/after_register/freelance_or_company">1</a>
                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-100 text-white" href="/after_register/set_name">2</a>
                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white" href="/after_register/set_address">3</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="max-w-md mx-auto">

    <h1 class="text-3xl text-slate-800 font-bold mb-6"><%= t("fiscal_address") %> ✨</h1>

    <%= form_for(@user_profile, url: wizard_path, method: 'put' ) do |f| %>
        <% if f.object.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
                <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this invoice from being saved:</h2>

                <ul>
                <% f.object.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <div data-controller="select" data-select-url-value="<%= regions_path %>" data-select-param-value="country">
            <div class="my-5">
                <%= f.label :country, class: "input-label" do %>
                    <%= t("country") %> <%= required_field_indicator %>
                <% end %>
                <%= f.collection_select :country, Country.all.sort, :alpha_2_code, :name,
                { prompt: t("select_country"), selected: "ES" }, { data: {action: "change->select#change"}, class: "form-input w-full", required: true} %>
            </div>
            <div class="my-5">
                <%= f.label :region, class: "input-label" do %>
                    <%= t("province") %> <%= required_field_indicator %>
                <% end %>
                <%= f.select :region, [(options_for_select spanish_regions)], {prompt: t("selecciona_provincia")}, { data: { select_target: "select" }, class: "form-input w-full", required: true} %>
            </div>
        </div>        
        <div class="my-5">
            <%= f.label :city, class: "input-label" do %>
                <%= t("city") %> <%= required_field_indicator %>
            <% end %>
            <%= f.text_field :city, class: "form-input w-full", required: true %>
        </div>
        <div class="my-5">
            <%= f.label :postal_code, class: "input-label" do %>
                <%= t("postal_code") %> <%= required_field_indicator %>
            <% end %>
            <%= f.text_field :postal_code, class: "form-input w-full", required: true %>
        </div>
        <div class="my-5">
            <%= f.label :street_address_1, class: "input-label" do %>
                <%= t("street_address_1") %> <%= required_field_indicator %>
            <% end %>
            <%= f.text_field :street_address_1, class: "form-input w-full", required: true %>
        </div>
        <div class="my-5">
            <%= f.label :street_address_2, class: "input-label" do %>
                <%= t("street_address_2") %>
            <% end %>
            <%= f.text_field :street_address_2, class: "form-input w-full" %>
        </div>
        <div class="flex items-center justify-between">
            <%= render "after_register/links" %>
            <%= f.button class: 'btn bg-indigo-600 hover:bg-indigo-700 text-white ml-auto cursor-pointer' do %>
                <%= t("next") %> <%= heroicon "arrow-right", variant: :mini %>
            <% end %>
        </div>
    <% end %>
</div>