<div class="max-w-md mx-auto">
  <% if @user_profile.is_freelance %>
    <h1 class="text-3xl text-slate-800 font-bold mb-6">Información Personal ✨</h1>
  <% else %>
    <h1 class="text-3xl text-slate-800 font-bold mb-6">Información de la Empresa ✨</h1>
  <% end %>
  <%= form_for(@user_profile, url: wizard_path, method: 'put' ) do |f| %>
    <% if f.object.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this invoice from being saved:</h2>
        <ul>
          <% f.object.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="space-y-4 mb-8">
      <% if @user_profile.is_freelance %>
        <div class="my-5">
          <label class="input-label" for="first_name">Nombres <span class="text-rose-500">*</span></label>
          <%= f.text_field :first_name, class: "input", required: true %>
        </div>
        <div class="my-5">
          <label class="input-label" for="last_name">Apellidos <span class="text-rose-500">*</span></label>
          <%= f.text_field :last_name, class: "input", required: true %>
        </div>
        <div class="my-5">
            <label class="input-label" for="gov_id">NIF/NIE <span class="text-rose-500">*</span></label>
            <%= f.text_field :gov_id, class: "input", required: true %>
        </div>
      <% else %>
        <div class="my-5">
          <label class="input-label" for="company_name">Nombre Empresa <span class="text-rose-500">*</span></label>
          <%= f.text_field :company_name, class: "input", required: true %>
        </div>
        <div class="my-5">
            <label class="input-label" for="gov_id">CIF <span class="text-rose-500">*</span></label>
            <%= f.text_field :gov_id, class: "input", required: true %>
        </div>
        <div class="my-5">
          <label class="input-label" for="company_name">Datos Representante Legal <span class="text-rose-500">*</span></label>
          <%= f.text_field :first_name, class: "input", placeholder: "Nombres", required: true %>
        </div>
        <div class="my-5">
          <%= f.text_field :last_name, class: "input", placeholder: "Apellidos", required: true %>
        </div>
      <% end %>
    </div>
    <div class="flex items-center justify-between">
      <%= render "after_register/links" %>
      <%= f.submit 'Siguiente ->', class: 'btn-primary' %>
    </div>

  <% end %>
</div>
