<% content_for(:page_title, t("ingresar")) %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="space-y-4">
    <div>
      <%= f.label :email, t("email"), class: "input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input w-full" %>
    </div>

    <div>
      <%= f.label :password, t("password"), class: "input-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center mb-4">
        <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
        <%= f.label :remember_me, t("remember_me"), class: "ml-2 block text-sm text-gray-900" %>
      </div>
    <% end %>

    <div class="flex items-center justify-between mt-6">
      <div class="mr-1">
        <%= link_to t("forgot_password"), new_password_path(resource_name), class: "text-sm underline hover:no-underline" %>
      </div>
      <%= f.submit t("login"), class: "btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" %>
    </div>
  </div>
<% end %>
<!-- Footer -->
<div class="pt-5 mt-6 border-t border-slate-200">
  <div class="text-sm">
    <%= t("dont_have_an_account?") %> <%= link_to t("sign_up"), new_user_registration_path, class: "font-medium text-indigo-500 hover:text-indigo-600" %>
  </div>
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="text-sm">
      <%= t("confirm_account_question") %>
      <%= link_to t("confirm_account"), new_confirmation_path(resource_name), class: "font-medium text-indigo-500 hover:text-indigo-600" %>
    </div>
  <% end %>
</div>
