<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :item_name, class: "inpute-label" %>
    <%= form.text_field :item_name, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "inpute-label" %>
    <%= form.text_area :description, rows: 10, cols: 60, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :price, class: "inpute-label" %>
    <%= form.text_field :price, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :tax1, class: "inpute-label" %>
    <%= form.text_field :tax1, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :tax2, class: "inpute-label" %>
    <%= form.text_field :tax2, class: "input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-indigo-600 text-white inline-block font-medium cursor-pointer"%>
  </div>
<% end %>
