<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Tax1:</strong>
    <%= item.tax1 %>
  </p>

  <p>
    <strong>Tax2:</strong>
    <%= item.tax2 %>
  </p>

</div>
