<div class="mt-2" id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>IVA:</strong>
    <%= item.iva %>
  </p>

  <p>
    <strong>IRPF:</strong>
    <%= item.irpf %>
  </p>

</div>
