<p style="color: green"><%= notice %></p>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="title">Items</h1>
      <p class="paragraph">A list of all the Items.</p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <button type="button" class="btn-primary"><%= link_to 'Add Item', new_item_path %></button>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <tbody class="divide-y divide-gray-200 bg-white">
              <% cache @items do %>
                <% @items.each do |item| %>
                  <% cache item do %>
                    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
                      <td class="description">
                        <h3 class="text-lg font-bold"><%= item.item_name %></h1>
                        <p>
                          <%= truncate(strip_tags(item.description), length: 80) %>
                        </p>
                        <div class="">
                          <%= number_to_currency(item.price) %>
                          <%= button_to "Facturar", line_items_path(item_id: item),{:class => "btn-primary" } %>
                        </div>
                      </td>
                      <td class="table-td">
                        <ul>
                          <li class="link"><%= link_to 'Show', item %></li>
                          <li class="link"><%= link_to 'Edit', edit_item_path(item) %></li>
                          <li class="link">
                            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?'} %>
                        </ul>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
