<div class="mx-auto md:w-2/3 w-full">
<%= link_to sanitize(t("regresar_a_items")), items_path, class: "back-button" %>
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="notice" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="title"><%= @item.item_name %></h1>
    <p><%= simple_format @item.description %></p>
    <div class="flex justify-between items-center">
      <div class="flex gap-2">
        <%= t("iva") %>:
        <span class="font-normal"><%= @item.iva %></span>
      </div>
      <div class="flex gap-2">
        <%= t("precio") %>:
        <span class="font-semibold"><%= number_to_currency(@item.price, locale: :es) %></span>
      </div>
    </div>
  </div>
</div>
