<h1><%= t "reset_password_title" %></h1>

<p>ยก<%= t "hello" %> <%= @resource.email %>!</p>

<p><%= t "reset_password" %></p>

<p><%= link_to t("change_password"), 
	edit_password_url(@resource, reset_password_token: @token),
	class: "button"
 	%>
 </p>

<p><%= t "reset_ignore" %></p>
