<div id="<%= dom_id line_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= line_item.item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice:</strong>
    <%= line_item.invoice_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this line item", line_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this line item', edit_line_item_path(line_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
