<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="flex flex-col h-full">
    <%= render "layouts/alert" %>
    <div class="min-h-full">
      <%= render 'shared/navbar' %>
      <main class="-mt-32">
       <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
          <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
              <div>
                <%= yield %>
              </div>
          </div>
        </div>
      <main>
    </div>
    <!-- <%= render 'shared/footer' %> -->
  </body>
</html>
