<!DOCTYPE html>
<html lang=<%= I18n.locale %> class="h-full bg-gray-100">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body 
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">
    <script>
      if (localStorage.getItem('sidebar-expanded') == 'true') {
          document.querySelector('body').classList.add('sidebar-expanded');
      } else {
          document.querySelector('body').classList.remove('sidebar-expanded');
      }
    </script>
    <div class="flash" id="flash">
      <%= render "shared/flash", position: "top-10 left-1/2" %>
    </div>
    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">
      <% if user_signed_in? %>
        <%= render 'shared/sidebar' %>
      <% end %>
      <!-- Content area -->
      <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
        <% if user_signed_in? %>
          <%= render 'shared/navbar' %>
        <% end %>
        <main>
          <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
            <%= yield %>
            <%= render 'shared/modal' %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
